

/* ============================== css prelooader ===================================== */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.8s ease-out;
    z-index: 9999;
    font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));
}

:root {
    --hue: 223;
    --bg: hsl(var(--hue), 90%, 95%);
    --fg: hsl(var(--hue), 90%, 5%);
    --trans-dur: 0.3s;
}



main {
    padding: 1.5em 0;
}

.ip {
    width: 16em;
    height: 8em;
}

.ip__track {
    stroke: hsl(var(--hue), 90%, 90%);
    transition: stroke var(--trans-dur);
}

.ip__worm1,
.ip__worm2 {
    animation: worm1 2s linear infinite;
}

.ip__worm2 {
    animation-name: worm2;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: hsl(var(--hue), 90%, 5%);
        --fg: hsl(var(--hue), 90%, 95%);
    }

    .ip__track {
        stroke: hsl(var(--hue), 90%, 15%);
    }
}


@keyframes worm1 {
    from {
        stroke-dashoffset: 0;
    }

    50% {
        animation-timing-function: steps(1);
        stroke-dashoffset: -358;
    }

    50.01% {
        animation-timing-function: linear;
        stroke-dashoffset: 358;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes worm2 {
    from {
        stroke-dashoffset: 358;
    }

    50% {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: -358;
    }
}


/* ============================== css d'annimation du texte ===================================== */

:root {
    --bg: hsl(0 0% 2%)
}

:root {
    --primary-bg: linear-gradient(var(--primary), var(--primary));
}

[data-gradient=true] {
    --primary-bg: conic-gradient(from var(--angle, 180deg) at 50% 70%, hsla(0, 0%, 98%, 1) 0deg, #eec32d 72.0000010728836deg, #ec4b4b 144.0000021457672deg, #709ab9 216.00000858306885deg, #4dffbf 288.0000042915344deg, hsla(0, 0%, 98%, 1) 1turn);
}

h1.wrapper {

    overflow: hidden;
    background:
        var(--primary-bg),
        linear-gradient(var(--secondary), var(--secondary)),
        linear-gradient(var(--secondary) 0 calc((var(--highlight) + var(--spread)) * 1lh), transparent);
    background-repeat: no-repeat;
    background-size:
        100% calc(var(--highlight) * 1lh),
        100% calc((var(--highlight) + var(--spread)) * 1lh),
        100% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-wrap: balance;
    font-size: clamp(2rem, 1rem + 4vw, 12rem);
    display: inline-block;
    margin: 0;
}

p.wrapper {

    overflow: hidden;
    background:
        var(--primary-bg),
        linear-gradient(var(--secondary), var(--secondary)),
        linear-gradient(var(--secondary) 0 calc((var(--highlight) + var(--spread)) * 1lh), transparent);
    background-repeat: no-repeat;
    background-size:
        100% calc(var(--highlight) * 1lh),
        100% calc((var(--highlight) + var(--spread)) * 1lh),
        100% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 30px;
    font-weight: bolder;

}

.wrapper {
    background: var(--bg);
    position: relative;
}

@media(prefers-reduced-motion: no-preference) {
    @property --angle {
        inherits: true;
        initial-value: 180deg;
        syntax: '<angle>';
    }

    @-webkit-keyframes rotate {
        to {
            --angle: 540deg;
        }
    }

    @keyframes rotate {
        to {
            --angle: 540deg;
        }
    }

    [data-gradient=true][data-animate=true] {
        -webkit-animation: rotate 6s infinite linear;
        animation: rotate 6s infinite linear;
    }
}


/* ============================== css pour le modal ===================================== */

/* Style pour le modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background:
        var(--primary-bg),
        linear-gradient(var(--secondary), var(--secondary)),
        linear-gradient(var(--secondary) 0 calc((var(--highlight) + var(--spread)) * 1lh), transparent);
    background-repeat: no-repeat;
    background-size:
        100% calc(var(--highlight) * 1lh),
        100% calc((var(--highlight) + var(--spread)) * 1lh),
        100% 100%;
    animation: fadeIn 0.3s;
}

.modal-content {
    position: relative;
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    max-height: 80vh;
    overflow-y: auto;
    border-radius: 8px;
    animation: slideIn 0.3s;
}

@media (max-width: 600px) {
    .modal-content {
        max-width: 90%;
        max-height: 70vh;
    }
}

.close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 34px;
    cursor: pointer;
    color: #f50808;
}

.close-button:hover {
    color: black;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* ============================== css generale ===================================== */
/* css */
:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background-color: #f4f4f4;
    --text-color: #333;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);
    padding-top: 90px;
}
header {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 2rem;
}

nav {
    background-color: #2980b9;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 100px;

    margin: 0;
    gap: 2rem;
    font-size: 20px;
}

.logo {
    height: 40px;
    margin-right: auto;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: var(--secondary-color);
}

section {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    margin-bottom: 1rem;
}

h2 {
    color: var(--primary-color)
}


.skill-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0;
}

.skill-item {
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}
button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    margin: 1rem 0;
}

button:hover {
    opacity: 0.9;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--primary-color);
    color: white;
    margin-top: 2rem;
}

/* css pour la responsivite */

/* Style spécifique pour le menu */

nav .menu-toggle {
    display: none;

}

/*  les éléments du menu sur les petits écrans */
@media (max-width: 600px) {
    nav ul {
        padding: 15px;
        display: none;
        /*  le menu cacher par défaut */
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    /* le bouton hamburger sur les petits écrans */
    nav .menu-toggle {
        display: block;
        float: left;
        background: transparent;
        border: none;
        font-size: 30px;
        color: white;
        cursor: pointer;
    }

    .logo-sm {
        height: 40px;
        position: absolute;
        /* Positionnement absolu */
        right: 0;
        /* Aligne à droite */
       
        margin-right: 13px;
        top: 18px;
    }

    /* le menu quand la classe 'active' est ajoutée */
    nav ul.active {
        display: flex;
        float: none;
        margin: 64px;
        display: flex;
        padding: 3px;
    }

    .logo {
        display: none;
    }

    nav {
        background-color: #2980b9;
        padding: 0rem;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

}

